* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    'nav'
    'main';
}

.nav {
  grid-area: 'nav';
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: rgb(2, 36, 61);
  color: rgb(228, 209, 207);
  padding: 2% 5%;
  button {
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5% 2%;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 10px 5px white;
    }
    &:active {
      box-shadow: none;
    }
  }
}

.logs-container {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  padding: 2%;
  table {
    width: 100%;
    border-radius: 1.3rem;
    box-shadow: 0 0 10px 5px lightgrey;
    overflow: hidden;
    td,
    th {
      padding: 1%;
      span {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    thead {
      background: rgb(238, 249, 251);
      font-weight: bolder;
    }
    tbody {
      text-align: center;
      tr:nth-child(odd) {
        background: rgb(238, 249, 251);
      }
      tr:nth-child(even) {
        background: rgb(251, 244, 239);
      }
    }
  }
}

.log-container {
  position: relative;
  grid-area: 'main';
  display: grid;
  grid-template-rows: 1fr 10fr;
  padding: 2%;
  &__content {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    .text {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      background: rgb(238, 249, 251);
      display: flex;
      flex-direction: column;
      padding: 0 5%;
      justify-content: space-evenly;
      font-size: 1.2rem;
      border-radius: 1.3rem;
      box-shadow: 0 0 10px 5px lightgrey;
    }
    .btns {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      button {
        cursor: pointer;
        background: transparent;
        color: lightgrey;
        border: 1px solid lightgrey;
        border-radius: 1rem;
        padding: 2%;
        transition: all 0.3s;
        &:hover {
          color: rgb(2, 36, 61);
          border: 1px solid rgb(2, 36, 61);
        }
      }
    }
  }
}

.delete-window {
  position: absolute;
  top: 30%;
  left: 20%;
  background: white;
  width: 60%;
  height: 30%;
  border-radius: 1.3rem;
  box-shadow: 0 0 10px 5px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__btns {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    button {
      cursor: pointer;
      background: transparent;
      color: lightgrey;
      border: 1px solid lightgrey;
      border-radius: 1rem;
      padding: 5%;
      transition: all 0.3s;
      &:hover {
        color: rgb(2, 36, 61);
        border: 1px solid rgb(2, 36, 61);
      }
    }
  }
}

.edit-log,
.create-log {
  grid-area: 'main';
  padding: 2%;
  form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1rem;
    padding: 2%;
    .form-group {
      display: flex;
      align-items: center;
      input {
        border: 1px solid lightgrey;
        padding: 1%;
        margin: 0 2%;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      button{
        cursor: pointer;
        margin-left: 5%;
        background: transparent;
        color: lightgrey;
        border: 1px solid lightgrey;
        border-radius: 1rem;
        padding: 2%;
        transition: all 0.3s;
        &:hover {
          color: rgb(2, 36, 61);
          border: 1px solid rgb(2, 36, 61);
        }
      }
    }
  }
}
